/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
}

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

/* nav .nav {
    float: right;
} */

#intro, #succeed-info {
    padding: 2rem 10% 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button {
    background-color: #c2195b;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 25px;
}

#succeed-info h2, #succeed-info h3 {
    margin: 1rem 0;
}

#succeed-info .card {
    /* appear beside each other */
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer {
    padding: 0.7rem;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

#pre-footer {
    padding: 1rem;
    background-color: #002540;
    color: white;
}

.footer-card {
    display: inline-block;
    width: 20%;
}

.footer-card > h3, p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}