/* 
    CSS Rules
    selector {
        property: value;
    }
*/

/*
	- The "h1" is a "type selector" and is used to target elements with a specified type/tag name.
	- The "color" property changes the color of text.
*/

/* 
    - The "!important" property has the highest priority. Using this will prioritize the property.
*/

/* 
    - When several "!important" properties are present for multiple stylings targeting the same element, the CSS Specificity Rule is followed for all rules with the "!important" property
*/

h1 {
    color: springgreen !important;
}

/* 
    - The "*" symbol is a "universal selector" and is used to target all elements.
	- When changing the style of elements, apply the changes per line and show the students the output.
	- Multiple properties may be added for different CSS Rules.
	- Some properties may also accept multiple values.
	- The "font-family" property changes the style of the font.
    - The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to use the primary font.
	- The "font-size" property changes the size of text.
	- The value "20px" refers to 20 pixels in size
*/


* {
    font-family: "Courier New", monospace;
    font-size: 20px;
}

/* 
    - The "letter-spacing" property changes the spaces in between characters of a text.
*/
#zuitt-motto {
    letter-spacing: 5px;
}

/* 
    - The "text-transform" property changes font to a certain case.
    - The value "uppercase" changes the text to all capitalized letters.
*/
.offering-item {
    text-transform: uppercase;
}

input[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
}

/* 
    - The attribute selector only works based on the exact attribute syntax provided in the HTML tag. It's also case sensitive.
*/

/* 
    - The selectors used for combinator selectors aren't restricted to type selectors only. ID, class, attribute and universal selectors may also be used.
    - The "height" property changes the vertical dimensions of an element.
    - The "width" property changes the horizontal dimensions of an element.
    - The "border-radius" property changes the corners of an element from a sharp to a rounded corner. The higher the value the more rounded the corners are.
*/


#zuitt-motto + img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

#bootcamp-learning-list  li {
    color: #075966 ;
}

h2 ~ a {
    text-decoration: none;
}

form > label {
    color: rgb(0, 0, 128);
}

body {
    background-color: skyblue;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: white;
}

a:hover {
    background-color: #b4d6de;
}

div {
    display: inline-block;
    float: right;
}

section {
    height: 100vh;
}

h2 {
    font-size: 1.5rem;
}

ol {
    list-style-type: none;
}

form {
    text-align: center;
    background-color: #fff;
    border: 2px solid black;
    height: 185px;
    width: 25vw;
    position: relative;
    left: 37.25%;
}

button {
    background-color: #cf0053;
    color: white;
    border: 0;
    border-radius: 15px;
}