* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

nav {
	padding: .8rem;
    border-bottom: 1px solid gray;
	position: sticky;
	top: 0;
    background-color: white;
}

.right-nav {
    float: right;
}

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

.container {
    float: right;
    width: 25vw;
    margin-right: 5rem;
}

.container > * {
    margin-top: 1rem;
}

.title {
    text-align: right;
    font-weight: 1000;
}


.intro, .pre-footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.tuitt-button, .apply-button {
    background-color: #c2195b;
    padding: 0.5rem;
    color: white;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.apply-button {
    padding-left:  2rem;
    padding-right: 2rem;
}

.apply-button {
    float: right;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: 2rem;
    background-attachment: scroll;
    height: 40vh;
}

.container > * {
    color: white;
}

.subtitle {
    text-align: right;
    font-size: 1rem;
    font-weight: 100;
}

.front-bg {
    background-color: rgba(0, 0, 0, .5);
    height: 40vh;
    background-size: 100%;

}

.title, .title-2 {
    font-family: 'Zilla Slab';
    margin-bottom: 2rem;
}


.pre-footer {
    background-color: #f7fbfb;
}

.book-button {
    margin-top: .8rem;
    background-color: #336589;
    padding: .5rem 2rem;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bolder;
}

footer {
    text-align: center;
}